.container-fluid {
    background: rgb(216,216,216);
    outline: .1px double black;
    padding: 5%;
}

.jumbotron {
    background-image: url("./js/background.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    display: compact;
    color: rgb(255,255,255);
}

h2 {
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.span6 {
  float: none;
  margin: 0 auto;
}
